.seperator {
    width: 100%;
}

.controls-wrapper {
    width: 100%;
}

.carousel-wrapper {
    width: 100%;
}

.rec.rec-arrow {
    border-radius: 0;
    background-color: #c9ada7;
}

.rec.rec-arrow:not(:hover) {
    border-radius: 0;
    background-color: #c9ada7 !important;
}

.rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: #5D4954;
}

.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-right:hover:enabled {
    background-color: #5D4954;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

button.rec-dot {
    visibility: hidden;
    /* background-color: none;
    box-shadow: 0 0 1px 3px #5D4954; */
}

button.rec-dot_active {
    visibility: hidden;
    /* outline: none;
    background-color: #c9ada7;
    box-shadow: 0 0 1px 3px #5D4954; */
}

button.rec-dot:focus:enabled {
    background-color: #c9ada7;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
    box-shadow: 0 0 1px 3px #5D4954;
}

.closet__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    /* background-color: #683bb7;
    color: #fff;
    margin: 15px;
    font-size: 4em; */
}