#menu-card:hover {
    background-color: #c9AdA7;;
    cursor: pointer;
}

#menu-card-selected {
    background-color: #c9ada7;
    cursor: pointer;
    border: 1px solid #22223b;
}

.text {
    color: #22223b;
    font-family: 'Montserrat', sans-serif;
}